body {
	margin:25px;
}

#header {
  font-size: 60px;
  font-family: 'Londrina Outline', cursive;
  text-align: center;
  position:fixed;
  z-index: 999;
}

#menu {
  text-align: center;
  position:fixed;
  padding-top:70px;
  z-index: 998;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  margin: auto;
}

li a {
    display: inline-block;
    padding: 8px;
    font-family: 'Cutive Mono', monospace;
    text-decoration: none;
    color: black;
}

div.polaroid {
  position:absolute;
  width: 25%; 
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  font-family: 'Cutive Mono', monospace;
  color: black;
}

div.container {
  text-align: center;
  padding: 10px 20px;

}

